doctype html 
html
    head
        title= "The Real time web chat"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
    body
        #content(style='width: 450px; height: 400px; margin: 0 0 20px 0; border: solid 1px #999; overflow-y: scroll;')
        .controls
            | Name: 
            input#name(style='width:400px;')
            br
            | Message :
            input#field(style='width:340px;')
            input#send(type='button', value='send')